<div class="full-area">
    <div id="title-fade">G   O   Y   A</div>
    <div class="player-count">
        {{numConnected}}
        <p ng-repeat="player in connectedPlayers track by $index">{{player.name}}</p>
    </div>
    <div class="img-container">
        <img class="back-img" src="goya.jpg">
    </div>
    <div class="player-bar-container">
        <div id="player-info" ng-class="{'side-bar': state.nameConfirmed, 'side-hidden': !state.nameConfirmed}">
            <span ng-class="{'player-name': state.nameConfirmed}">Name: <strong>{{state.name}}</strong></span>
        </div>
    </div>
    <div class="game-area">
        <div id="message-area" scroll-glue class="game-text">
            <p class="message" ng-repeat="msg in messages track by $index" ng-bind-html="asHtml(messages[$index])"></p>
        </div>
        <form class="text-input" autocomplete="off" ng-submit="submit()">
            <label for="text-enter"><pre>&gt; </pre></label>
            <input autofocus id="text-enter" ng-model="input">
        </form>
    </div>
    <div class="room-bar-container">
        <div id="room-info" ng-class="{'side-bar': state.nameConfirmed, 'side-hidden': !state.nameConfirmed}">
            <p ng-class="{'player-name': state.nameConfirmed}">Title: {{currentRoom.title}}</p>
            <p ng-class="{'player-name': state.nameConfirmed}">Desc: {{currentRoom.bDesc}}</p>
            <p ng-class="{'player-name': state.nameConfirmed}">Exits:<br/>
            <pre ng-repeat="exit in currentRoom.exits">    {{exit.dir}}</pre>
            </p>
        </div>
    </div>
</div>
