<div class="full-area">
    <div class="img-container">
        <img class="back-img" src="goya.jpg">
    </div>
    <div class="game-area">
        <div class="game-text">
            <p ng-repeat="msg in messages track by $index" ng-bind-html="asHtml(messages[$index])"></p>
        </div>
        <form class="text-input" autocomplete="off" ng-submit="submit()">
            <label for="text-enter"><pre>&gt; </pre></label>
            <input id="text-enter" ng-model="input">
        </form>
    </div>
</div>
